dashboard {
  display: flex;
  flex-direction: column;
  padding: 10px;

  md-card {
    margin: 10px;
    flex-grow: 1;
  }

  .total-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    md-card {
      padding: 10px 14px;
    }

    md-card-content {
      @include flex_column__center;

      .total-item-title {
        font-size: 1.2rem;
      }

      .total-value-growth {
        font-size: 1rem;
      }

      .total-value {
        text-align: center;
        font-size: 2rem;
      }
    }
  }
}
