// my data table
data-table {
  position: relative;
  display: block;
  padding-top: 60px;
  overflow-x: auto;
  height: calc(100% - 60px);

  .datatable-body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;

    &:before {
      content: '';
    }
  }

  table {
    width: 100%;

    th,tr,td {
      vertical-align: middle;
    }

    thead {
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06), 0 2px 0 rgba(0, 0, 0, 0.075), 0 3px 0 rgba(0, 0, 0, 0.05), 0 4px 0 rgba(0, 0, 0, 0.015);
      box-sizing: border-box;
      // display: block;
      left: 0;
      // position: absolute;
      top: 0;
      z-index: 10;
      padding-right: 2px;

      th {
        padding: 0 24px 0 24px;
        height: 0;
        line-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        color: transparent;
        border: none;
        white-space: nowrap;

        .fake-column-head {
          visibility: hidden;
          height: 0;
        }

        .column-head {
          position: absolute;
          background: transparent;
          color: black;
          top: 0;
          line-height: normal;
        }
      }
    }

    tr {
      text-align: center;
    }

    tbody {
      tr {
        height: 40px;
      }
    }

    td {
      border-bottom: 1px solid #e3e3e3;
    }
  }
}
