.data-table {
  position: relative;

  table {
    width: 100%;

    thead {
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06), 0 2px 0 rgba(0, 0, 0, 0.075), 0 3px 0 rgba(0, 0, 0, 0.05), 0 4px 0 rgba(0, 0, 0, 0.015);
      box-sizing: border-box;
      // display: block;
      left: 0;
      // position: absolute;
      top: 0;
      z-index: 10;
      padding-right: 2px;
    }

    tr {
      height: 40px;
    }
  }
}
