$width: 200px;

.app-menu {
  width: $width;
  height: 100%;
  background-color: #2b333e;

  ul.nav {
    li {
      a {
        padding: 0;
        line-height: 50px;
        height: 50px;
        overflow: hidden;
        color: #91a7c6;
        position: relative;
        display: block;

        &:hover {
          color: #464c59;
          background-color: #fff;
        }
      }

      ul {
        // display: none;
      }
    }
  }
}
